@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
      font-family: "Outfit", sans-serif;
      user-select: none;
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}


  input:required:valid {
    border-color: green;
  }

